body {
    background-color: lightblue;
}
h1 {
    color: red;
    text-align: center;
}

table {
    style: "text-align:center;
}

td {
    text-align: center;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
 }